= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      h2
        = pluralize(@job.errors.count, "error")
        |  prohibited this job from being saved:
      ul
        - @job.errors.full_messages.each do |message|
          li
            = message
  dl.dl-horizontal
    dt
      b
        = f.label :job_type_id
        | :
    dd
      - @job_types = JobType.all
      = f.select :job_type_id, @job_types.map{|t| [t.name, t.id]}
    dd
      - @customers = Customer.all
      = f.select :customer_id, @customers.map{|t| [t.short_name, t.id]}
    dt
      b
        = f.label :title
        | :
    dd
      = f.text_field :title
    dt
      b
        = f.label :detail
        | :
    dd
      = f.text_area :detail, size: "40x10"
    dt
      b
        = f.label :work_minutes
        | :
    dd
      = f.text_field :work_minutes, size: "3"
    dt
      b
        = f.label :begin_date
        | :
    dd
      = f.datetime_select :begin_date
    dt
      b
        = f.label :outside_budget
        | :
    dd
      = f.check_box :outside_budget
  .actions
    = f.submit
